<template>
    <v-container id="main">
        <v-row no-gutters>
            <v-col cols="12" md="2" sm="12" class="mr-4 mr-xl-0 mb-0 mt-12">
                <v-row>
                    <v-img
                        :src="require('../assets/testheadshot.png')"
                        contain
                        height="220"
                        width="300"
                        min-width="200"
                        position="center center"
                        />
                </v-row>
                <v-row no-gutters align="center" justify="space-around">
                    <v-spacer></v-spacer>
                    <v-col cols="2" align="right" justify="right">
                        <v-btn blcok
                        onclick="window.open('https://www.linkedin.com/in/timothy-euken-57628914b/')"
                        icon>
                            <v-img
                                :src="require('../assets/linkedinLogo.png')"
                                contain
                                height="30"
                                width="50"
                                raised
                                />
                        </v-btn>
                    </v-col>
                    <v-col cols="2" class="ml-3">
                        <v-btn
                        onclick="window.open('https://gitlab.com/tidaeu')"
                        icon
                        >
                        <v-img
                        :src="require('../assets/gitlab-crop.png')"
                        contain
                        width="50"
                        height="30"
                        />
                        </v-btn>
                    </v-col>
                    <v-spacer></v-spacer>
                </v-row>
            </v-col>

            <v-col cols="12" md="9" sm="12" class="text-sm-center text-xs-center text-md-left mt-md-12 ml-md-12 ml-lg-12 ml-xl-12 pt-md-0 mt-sm-0 pt-sm-0">
                <h2>About Me</h2>
                <span>
                Currently studying towards <b>Bachelors of Science in Computer Science</b> at the <b>University of Colorado, Boulder</b>. 
                I have a passion for Robotics, Fintech. Before starting my education at CU Boulder I traveled to 40+ countries exploring the world
                </span>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: 'aboutme',
        data: () => ({
            logos: [
                {path: "../assets/testheadshot.png"}
            ]
        })
    }
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');    @font-face {
        font-family: 'bebas_neuebold';
        src: url('~@/fonts/bebasneue-bold-webfont.woff2') format('woff2'),
            url('~@/fonts/bebasneue-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_reg';
        src: url('~@/fonts/BebasNeue-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_thin';
        src: url('~@/fonts/BebasNeue-Thin.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_book';
        src: url('~@/fonts/BebasNeue-Book.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    h2{
        font-family: 'bebas_neuebold';
        font-size: 3.5em;
        letter-spacing: .02em;
    }
    span {
        font-family: 'Roboto';
        font-weight: regular;
        letter-spacing: .04em;
        font-size: 1.2rem;
    }
    #main{
        z-index: 2;
    }
   
</style>
