<template>
<div id="experience-main">
    <div id="transitionBox"></div>

    <div id="transition-spacer"></div>
    <v-timeline :dense="denseValue" id="timeline-height">
        <v-timeline-item 
            v-for="job in jobs"
            :key="job.company"
            :left="job.placement"
            icon-color="purple"
            class="mt-12">
            <template 
                v-slot:opposite
                >
                <h3 
                style="color: black;"
                v-scroll-animation="job.dateContent"
                    >{{job.date}}</h3>
            </template>
            <div 
                class="py-4" 
                :class="[!denseValue ? (job.mainContent == 'left' ? 'margin-items-left' : '') : '']"
                 v-scroll-animation="job.mainContent">
                <v-img 
                    :src="job.logo"
                    height="75"
                    width="150"
                    contain></v-img>
                <div class="subtitle-1 mb-2" id="exp-text">{{job.position}}</div>
                <div id="exp-text">{{job.description}}</div>
            </div>
        </v-timeline-item>
    </v-timeline>
    </div>
</template>
<script>
    export default {
        name: 'experience',
        data () {
            return {
                jobs: [
                    {company: "Garmin", position: "Software Engineering Intern", date: "May 2020 - August 2020", color: "blue", mainContent: "right", dateContent: "left", logo: require('../assets/Garmin_logo_dark.png'), description: "In Coming"},
                    {company: "Visa Inc", position: "Software Engineering Intern", date: "May 2019 - May 2019", color: "blue", mainContent: "left", dateContent: "right", logo: require('../assets/visa-dark.png'), description: "Fraud Detection: Risk Team. Agile Methodology. Used ​C#​, ​ASP.NET Core​, ​SQL Server​, ​Dapper ​and ​ADO.NET​ to build functioning  website applications. Processed large quantities of data to help clients identify, quantify and assess fraudulent  transactions in order to protect customers."},
                    {company: "Cairo Lab", position: "Undergraduate Reserach Assistant", date: "August 2018 - Present", color: "blue", mainContent: "right", dateContent: "left", logo: require('../assets/cairo-transparent.png'), description: "In Progress. Awarded the ​“Undergraduate Research Opportunity Grant”​ to implement interactive  abilities including basic natural language processing and basic facial recognition into the lab robot  named “MOVO”. Technologies in use are ​Python’s Natural Language Toolkit​, ​OpenCV ​and ​ROS​. "},
                    {company: "CU Registrar", position: "Software Engineering Intern", date: "August 2018 - Present", color: "blue", mainContent: "left", dateContent: "right", logo: require('../assets/boulder-logo.png'), description: " Use of ​background workers​ to build ​multithreaded ​applications. Built ​C# ​desktop application for internal use by the registrar.  Develop ​Selenium ​scripts to test stability and automate tasks.  "},
                ],
                denseValue: false  
            }
        },
            methods: {
                resizeFunc: function(){
                    if(+window.innerWidth <= 550)
                    {
                        this.denseValue = true;
                    }
                    else 
                    {
                        this.denseValue = false;
                    }
                }
            },
        created() {
            window.addEventListener('resize', this.resizeFunc);
        },
        mounted() {
            this.resizeFunc();
        },
    }
</script>

<style lang="scss" scoped>
    /*$bgColor: #ccb14f;*/
    /*$bgColor: #c7ba48;*/
    /*$bgColor: #c9c9c9;*/
    $bgColor: #F5F5F5;
    $textColor: black;

    @font-face {
        font-family: 'bebas_nueu_reg';
        src: url('~@/fonts/BebasNeue-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

    #experience-main{
        /*background-color: #ffa45c;*/
        /*background-color: #D28D2F;*/
        /*background-color: #bba34c;*/
        background-color: $bgColor;
        padding-bottom: 100px;
        border-top-left-radius: 100px;
        transform: skewY(-2deg);
    }
    /* Filler for top Swoosh thing.. idk how to describe it */
    #experience-main::before {
        content: "";
        width: 91px;
        height: 91px;
        /*background-color: #2196F3;*/
        /*background-color: #f85959;*/
        background-color: $bgColor;
        position: absolute;
        margin-top: -90px;
        right: 0;
        z-index: -2;
    }

    /* Circle shape for top Swoosh thing.. idk how to describe it */
    #experience-main::after {
        content: "";
        width: 200px;
        height: 200px;
        background-color: white;
        top: -200px;
        position: absolute;
        right: -2px;
        border-radius: 40%;
        z-index: 0;
    }
    /*  Bottom of colored background area */
    #timeline-height{
        margin-bottom: -70px;
    }
    /* Spacer that is the same color as BG to get rid of skew */
    #transition-spacer{
        position: absolute;
    }
    /* Actual bar  */
    #transition-spacer::after{
        content: '';
        position: fixed;
        bottom: -50px;
        background-color: $bgColor;
        height: 300px;
        width: 100%;
        transform: skewY(2deg);
        z-index: -1;
    }

    #exp-text{
        color: $textColor;
        font-family: 'Montserrat', sans-serif;    
    }
    /* Used to un Skew the vuetify timeline */
    .v-timeline {
        transform: skewY(2deg);
        top: 0px;
    }
    /* Change color of line in timeline and height of line */
    .theme--light.v-timeline:before {
    background: white;
    top: 0px;
    height: 115%;
    width: 10px;
    margin-left: -3.6px;
    }

   .margin-items-left {
        margin-left: 35px;
    }

    .before-enter-left{
        opacity: 0;
        transform: translateX(-25px);
        transition: all 1.3s ease-out;
        transition-delay: .3s;
    }
    .after-enter-left{
        opacity: 1;
        transform: translateX(0px);
    }
    .before-enter-right{
        opacity: 0;
        transform: translateX(25px);
        transition: all 1.3s ease-out;
        transition-delay: .3s;
    }
    .after-enter-right{
        opacity: 1;
        transform: translateX(0px);
    }
</style>