<template>
    <div id="main">
        <v-container fluid id="titleContainer">
            <v-row class="text-center" align="center" justify="center" mx-0>
                <v-col cols="12" md12 lg12 xl6>
                    <h1>{{title}}</h1>
                </v-col>
            </v-row>
            <v-row class="text-center" align="center" justify="center" mx-0>
                    <h2>{{description}}</h2>
            </v-row>
        </v-container>             
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: "tim euken.",
                description: "COMPUTER SCIENCE | ROBOTICS | PHOTOGRAPHER"
            
            }
        }
        
    }
</script>

<style scoped>        
    @font-face {
        font-family: 'bebas_neuebold';
        src: url('~@/fonts/bebasneue-bold-webfont.woff2') format('woff2'),
            url('~@/fonts/bebasneue-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_reg';
        src: url('~@/fonts/BebasNeue-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_thin';
        src: url('~@/fonts/BebasNeue-Thin.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_book';
        src: url('~@/fonts/BebasNeue-Book.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
   

    h1{
        font-family: 'bebas_neuebold';
        color: white;
        font-size: 7em;
        letter-spacing: .05em;

    }
    h2 {
        font-family: 'bebas_nueu_book';
        color: white;
        font-size: 3em;
        letter-spacing: .15em;
        margin-top: -20px;
    }
 
    #titleContainer{
        position: relative;
        margin-top: calc(100vh / 4);
    }
    
    #main{
        background-image: url('~@/assets/HomeBG.jpg');        
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
    }

</style>