<template>
    <nav>
        <v-navigation-drawer 
          app v-model="sideNav"
          class="hidden-md-and-up">
              <v-list>
                  <v-list-item 
                    v-for="item in menuItems"
                    :key="item.title"
                    link
                    >
                      <v-list-item-icon color="gray">
                          <v-icon>{{item.icon}}</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content 
                        @click="sendRoute(item.route)" 
                        id="icon" 
                        class="gray--text">
                        {{item.title}}</v-list-item-content>
                  </v-list-item>
              </v-list>         
          </v-navigation-drawer>

          <v-app-bar 
            flat 
            dark 
            id="app-bar"
            class="collapse" 
            short 
            :collapse="collapsed" 
            :min-width="maxWidth"
            :max-width="maxWidth"
            :app="naviPosition"
            style="left: 0; !important"
            >
              <v-app-bar-nav-icon
                v-on:click.native="sideNav = !sideNav"
                class="hidden-md-and-up"></v-app-bar-nav-icon>

              <v-spacer></v-spacer>
              <v-toolbar-items
                class="hidden-sm-and-down"
                v-for="item in menuItems"
                :key="item.title"
                >
                  <v-btn 
                    id="icon" 
                    text
                    @click="sendRoute(item.route)"
                    >
                    {{item.title}}
                    </v-btn>
              </v-toolbar-items>
              <v-spacer></v-spacer>
          </v-app-bar>
    </nav>
</template>

<script>
    import $ from 'jquery'
    export default {
        name: "navi",
        data() {
            return {
                sideNav: false,
                menuItems: [
                    {icon: 'home', title: 'Home', route: '#home'},
                    {icon: 'person', title: 'About Me', route: '#about'},
                    {icon: 'date_range', title: 'Experience', route: '#experience'},
                    {icon: 'developer_mode', title: 'Projects', route: '#projects'},
                    {icon: 'camera', title: 'Photography', route: '#photography'},
                    {icon: 'email', title: 'Contact', route: '#contact'}
                ],
                windowWidth: window.innerWidth,
                windowHeight: window.innerHeight,
                collapsed: false,
                maxWidth: window.innerWidth,
                naviPosition: false,
                naviHeight: window.pageYOffset
            }
        },
        methods: {
            winWidth: function(){
                if(this.windowWidth < 960)
                {
                    this.maxWidth = 60
                    this.collapsed = true;

                } else {
                    this.maxWidth = this.windowWidth;
                    this.collapsed = false;
                }
            },
            sendRoute: function(route){
                this.sideNav = false;
                this.$emit('changeroute', route);
            },
            

            positionNavi: function(){
                if(this.windowHeight < +window.pageYOffset)
                {
                    this.naviPosition = true;
                } else {
                    this.naviPosition = false;
                }
            }
        },
        mounted() {
           window.onresize = () => {
                this.windowHeight = window.innerHeight;
                this.windowWidth = window.innerWidth;
            },

            window.onscroll = () => {
                this.naviHeight = window.pageYOffset;
            },
            this.winWidth();
        },
        watch: {
            naviHeight(){
                this.positionNavi();
            },
            windowHeight(){
                this.positionNavi();
            },
            windowWidth(){
                this.winWidth();
            }
        }
    }
</script>

<style scoped>
    @font-face {
        font-family: 'bebas_neuebold';
        src: url('~@/fonts/bebasneue-bold-webfont.woff2') format('woff2'),
            url('~@/fonts/bebasneue-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_reg';
        src: url('~@/fonts/BebasNeue-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_thin';
        src: url('~@/fonts/BebasNeue-Thin.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_book';
        src: url('~@/fonts/BebasNeue-Book.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

   #icon {
       font-family: bebas_nueu_reg;
       font-size: 1.4rem;
   }

   #app-bar {
       background-color: #3A3A40;
   }

    
</style>