<template>
    <div id="projects-main">
        <div id="heading">
            <h1>Projects</h1>
        </div>
        <v-container>
            <v-card class="mx-auto" max-width="400">
                <v-card-text class="text--primary">
                    <div>Test one</div>
                    <div>Test one</div>
                </v-card-text>
            </v-card>
            <v-card class="mx-auto" max-width="400">
                <v-card-text class="text--primary">
                    <div>Test two</div>
                    <div>Test two</div>
                </v-card-text>
            </v-card>
        </v-container>

    </div>
</template>

<script>
    export default {
        name: 'projects',
        data() {
            return {
                projects: [
                    {title: "one", filter: 'Robotics'}
                ]
            }
        },
        
    }
</script>

<style lang="scss" scoped>

    @font-face {
        font-family: 'bebas_neuebold';
        src: url('~@/fonts/bebasneue-bold-webfont.woff2') format('woff2'),
            url('~@/fonts/bebasneue-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_reg';
        src: url('~@/fonts/BebasNeue-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_thin';
        src: url('~@/fonts/BebasNeue-Thin.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'bebas_nueu_book';
        src: url('~@/fonts/BebasNeue-Book.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    #projects-main{
        background-color: white;
        height: 100vh;
        margin-top: 150px;
    }

    #heading {
        font-family: 'bebas_neuebold';
        font-size: 2em;
        text-align: center;
        position: relative;
    }

</style>