<template>
  <v-app>
    <div></div>
        <home/>
    <div class="menu-wrapper">
        <navi @changeroute="scrollToSection($event)" 
        id="naviBar" 
        ></navi>
    </div>
    <section id="about">
        <AboutMe/>
    </section>
    <section id="experience">
        <Experience/>
    </section>
    <section id="projects">
        <Projects/>
    </section>
    
  </v-app>
</template>

<script>
import Home from './components/Home';
import Navi from './components/Navi';
import AboutMe from './components/AboutMe';
import Experience from './components/Experience';
import Projects from './components/Projects';

export default {
  name: 'App',

  components: {
    Home,
    Navi,
    AboutMe,
    Experience,
    Projects
  },

  data() {
    return {
      currentSection: 'home',
      windowHeight: window.innerHeight,
      windowWidth: window.innerWidth,
      naviHeight: 0,
      appPosition: false,
      collapseModeVar: false
    }
  },
  methods: {
    scrollToSection: function(selector)
    {
        if(selector != '#home')
        {
            document.querySelector(selector).scrollIntoView({
            behavior: 'smooth'
            });
        } 
        else 
        {
            window.scrollTo({top: 0, behavior: 'smooth'});
        }
    }
    
  }
}
 
</script>

<style scoped>
  .menu-wrapper{
    height: 56px;
  }
  #about{
    z-index: 2;
    margin-bottom: 50px;
  }
  #experience {
    z-index: 1;
  }
  #projects{
    margin-top: 0px;
    z-index: 2;
  }
</style>